/*   Tablet & Mobile Layout :768px  */
@media only screen and (max-width:991px){
  .container{
    max-width: 730px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .slider_left{
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .slider{
    padding-left: 15px;
  }
  .services_top{
    max-width: 600px;
  }
  .services_box2{
    text-align: center;
  }
  .services_box1{
    margin-bottom: 50px;
  }
  .project_content_right{
    margin-top: 80px;
  }
  .map_section iframe{
    width: 350px;
  }
  .contact_part{
    margin-left: 0px;
  }
  .single_footer{
    margin-top: 20px;
  }
  .services_box1{
    margin-top: 0px;
  }
  .google_map_content{
    display: none;
  }
  .text-animation h2{
    font-size: 20px;
  }
}
/*   Mobile Layout :320px  */
@media only screen and (max-width:767px){
  .container{
    max-width: 480px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .slider_left{
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .slider{
    padding-left: 5px;
  }
  .services_top{
    max-width: 480px;
  }
  .services_box2{
    text-align: center;
  }
  .services_box1{
    margin-bottom: 50px;
  }
  .project_content_right{
    margin-top: 0;
  }
  .map_section iframe{
    width: 100%;
    margin-bottom: 50px;
  }
  .contact_part{
    margin-left: 0px;
  }
  .single_footer{
    margin-bottom: 20px;
  }
  .project_content_right a{
    display:block;
  }
}
